*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: pink;
}

.container{
    width: 1200px;
    height: 1200px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
    
}

.card{
    width:calc(1200px / 4 );

    border: 1px solid crimson;
}

p{
    width: 100%;
    font-size: small;
}
img{
    width: 20%;
}
/* i partial attingono dallo stile della pagina in cui vengono inseriti  */

nav{
    display: flex;
    justify-content: center;
}